main .analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .analyse > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .analyse > div:hover{
    box-shadow: none;
}

main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .analyse .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .analyse svg{
    width: 7rem;
    height: 7rem;
}

main .analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .analyse .sales svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .visits svg circle{
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .searches svg circle{
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .progresss .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

main .list{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .list:hover{
    box-shadow: none;
}

main .list .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .list .user img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
}

main table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main .user-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}

main .content-row {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

main button {
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--color-light);
    background-color: var(--color-light);
    font-size: 16px;
    cursor: pointer;
}

main button:active {
    transform: translateY(2px);
    transform: scale(0.95);
    box-shadow: none;
}

main .user-info img {
    width: auto; 
    height: 100%;
    max-width: 250px;
    border-radius: 10px;
    object-fit: cover;
}



main .user-info .info {
    display: grid;
    gap: 10px;
}

main .user-info .info h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

main .user-info .info p {
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--color-box-shadow);
    margin: 0;
    font-size: 16px;
    color: var(--color-dark-variant);
}

@media screen and (max-width: 1200px) {
    main .analyse{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .list .user{
        flex-basis: 40%;
    }

    main table{
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .list .user{
        flex-basis: 35%;
    }

}