nav {
    background-color: #2821a8;
    color: rgb(224, 224, 224);
}

button a {
    color: rgb(236, 236, 236);
}

.sidebar {
    background-color: #1f1f1f;
    color: rgb(236, 236, 236);
}

.sidebar a {
    color: rgb(236, 236, 236);
}

.sidebar a:hover {
    background: #000000b3;
}

.top-section-chat {
    background: rgba(0, 0, 0, 0.7);
    color: rgb(236, 236, 236);
}

.chat-container {
    background: rgba(0, 0, 0, 0.7);
    color: rgb(236, 236, 236);
}

.chat-section {
    scrollbar-color: rgba(255, 255, 255, 0.8) rgba(0, 0, 0, 0.7);
}

.message.sender {
    background-color: #16ac16;
}

.message.receiver {
    background-color: #bb251c;
}

.message-time {
    color: #292929; 
}

.chat-input-container {
    background: rgba(0, 0, 0, 0.7);
}

.chat-input {
    background: rgba(0, 0, 0, 0.7);
}

.chat-button {
    background-color: #000000b3;
    color: rgb(200, 200, 200);
}

.chat-list {
    background: rgba(0, 0, 0, 0.7);
}

.chat-item {
    background: rgba(0, 0, 0, 0.7);
    color: rgb(236, 236, 236);
}