/* Reset y estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  /* background-image: url('../images/background.webp'); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
}

button a {
  text-decoration: none;
  align-self: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  white-space: nowrap;
  overflow-x: auto;
}

.edit-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  margin-left: 0;
  transition: margin-left 0.5s ease;
}
.content-details {
  background-color: #000;
  color: #fff;
  padding: 10px;
}
.content-details h3,
.content-details p {
  margin: 5px 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.buttons i {
  cursor: pointer;
  font-size: 20px; /* Tamaño de los íconos */
  color: #fff; /* Color blanco para los íconos */
}
.ad-box {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 15px;
  text-align: center;
  color: black; /* Color de las letras en negro */
}
.ad-box img {
  width: 100%;
  height: auto;
}

.section {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sub-section {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 48%;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 20px;
  background: #6c63ff;
  color: white;
  font-weight: bold;
  transition: background 0.3s;
}

.block-button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  background: #6c63ff;
  color: white;
  font-weight: bold;
  text-align: right;
}

.class-button:hover,
.all-classes-button:hover {
  background: #694bff;
}

.progress {
  background-color: #6c63ff;
  margin-top: 10px;
  height: 100%;
  border-radius: 5px;
}

.progress-bar {
  background-color: #444;
  height: 10px;
  border-radius: 5px;
}

.campus-section img {
  width: 100%;
  border-radius: 10px;
}

.event-section {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.main {
  margin-left: 220px;
  padding: 20px;
  background-color: #e0e0e0;
  flex-grow: 1;
}

.h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.admin-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.publication-box {
  background-color: rgba(15, 15, 15, 0.7);
  border: 1px solid black;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.news-container {
  width: 60%;
}

.box {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 20px 0; 
  text-align: left;
}

.alert-mainbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box-alert {
  background-color: rgba(15, 15, 15, 0.7);
  border: 1px solid black;
  text-align: left;
  max-width: 900px;
}

.icono-alerta {
  font-size: 35px;
  color: #ff5252;
  margin-left: 800px;
}

.publication-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.icon-container {
  display: flex;
  gap: 20px;
}

.icon-container i {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.icon-container i:hover {
  color: #6c63ff;
}

.text-area {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  padding: 10px;
}

.box i {
  font-size: 24px;
  margin-right: 10px;
  margin-left: 5px;
}

.box .fa-heart {
  color: red;
}

.box .fa-arrow-right {
  color: red;
}
.box .fa-save {
  color: red;
}

.box img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  font-size: 20px;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: black;
  text-decoration: none;
  margin: 5px 0;
}

.tutor {
  align-self: center;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  color: #fff;
}
.tutor img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.main-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

button {
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

button:hover {
  background-color: #694bff;
}

.form-footer {
  text-align: center;
  margin-top: 15px;
}

.form-footer a {
  color: #6c63ff;
  text-decoration: none;
}

.form-footer a:hover {
  color: #8c85ff;
}

