<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="../css/general.css">
  <link rel="stylesheet" href="../css/sidebar.css">
  <link rel="stylesheet" href="../css/pop-up.css">
  <script defer src="../js/script.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="../images/StudyHub.ico">
</head>
<body>

  <div class="container">
    <section id="loginSection" class="form-section">
      <form action="/login" id="loginForm" class="form" method="post">
        <h2>Iniciar Sesión</h2>
        <!--Manejar mensajes de error-->
        <% if (error) { %>
          <div class="error-message"><%= error %></div>
        <% } %>
        <% if (message) { %>
          <div class="success-message"><%= message %></div>
        <% } %>
        <!--Formulario login-->
        <label for="usernameLogin">Nombre de Usuario</label>
        <input type="text" id="usernameLogin" name="usernameLogin" required>

        <label for="passwordLogin">Contraseña</label>
        <input type="password" id="passwordLogin" name="passwordLogin" required>

        <button type="submit">Login</button>
        
        <p class="form-footer">
          <a href="/resetPassword">¿Olvidaste tu contraseña?</a>
        </p>
        
        <p class="form-footer">
          ¿No tienes una cuenta? <a href="/register">Regístrate aquí</a>
        </p>

        <button type="button" onclick="window.location.href='/index'" style="margin-top: 15px;">
          Volver a Inicio
        </button>
        
      </form>
    </section>
  </div>

</body>
</html>
