nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  border-radius: 10px;
}

.icon {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
}

.fas {
  width: 30px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  padding: 1em;
  transition: left 0.5s ease;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sidebar header {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #555;
  color: #dbdbdb;
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 0.5em;
  color: #ccc;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

.sidebar a i {
  margin-right: 10px;
  font-size: 1.2em;
}

.sidebar a {
  font-size: 1em;
}

.sidebar a:hover {
  background-color: #444;
  color: #fff;
}

.sidebar a.active {
  background-color: #555;
  color: #fff;
}

.sidebar.visible {
  left: 0;
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.overlay.active {
  display: block;
}

/* Styles for the theme toggle */
.switch {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50px;
  height: 25px;
  margin-top: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch i {
  cursor: pointer;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 25px;
  right: -20px;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #6c63ff;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.theme-toggle i {
  margin-left: 10px;
  font-size: 1.2em;
  color: #ccc;
}
