nav {
    background-color: #4f6efc;
    color: rgba(0, 0, 0, 0.7);
}

button a {
    color: rgb(29, 29, 29);
}

.sidebar {
    background-color: #dbdbdb;
    color: rgba(0, 0, 0, 0.7);
}

.sidebar a {
    color: rgba(0, 0, 0, 0.7);
}

.sidebar a:hover {
    background: #4b4b4bb3;
}

.top-section-chat {
    background: rgba(255, 255, 255, 0.8);
    color: rgb(29, 29, 29);
}

.chat-container {
    background: rgba(220, 220, 220);
    color: rgb(29, 29, 29);
}

.chat-section {
    scrollbar-color: rgba(0, 0, 0, 0.7) rgba(255, 255, 255, 0.8);
}

.message.sender {
    background-color: #1ddf1d;
}

.message.receiver {
    background-color: #a15450;
}

.message-time {
    color: #292929; 
}

.chat-input-container {
    background: rgba(255, 255, 255, 0.8);
}

.chat-input {
    background: rgba(255, 255, 255, 0.8);
}

.chat-button {
    background-color: #ffffffb3;
    color: rgb(29, 29, 29);
}

.chat-list {
    background: rgba(255, 255, 255, 0.7);
}

.chat-item {
    background: rgba(255, 255, 255, 0.8);
    color: rgb(29, 29, 29);
}