#messages-container{
    display: grid;
    width: 96%;
    margin: 0 auto;
}


.seccion-mensajes {
    display: flex;
    gap: 20px;
    height: calc(100vh - 100px); /* Ajuste para que haya espacio suficiente */
    padding: 20px;
    background: #f0f2f5;
    flex: 1;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    width: 100%; 
}

/* Lista de Conversaciones */
.lista-conversaciones {
    width: 25%; /* Reduce el ancho para que haya más espacio para el chat */
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.search-section {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.chats-section {
    padding: 15px;
    flex: 1;
    border-radius: 15px;
}

.chat-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chat-item {
    padding: 15px;
    border-radius: 8px;
    background: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chat-item:hover {
    background: #e9ecef;
}

.chat-item-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.chat-item-info {
    display: flex;
    flex-direction: column;
}

/* Ventana de Conversación */
.ventana-conversacion {
    flex: 1;
    width: 70%; /* Cambiar esto a flex para que ocupe automáticamente el espacio restante */
    background: #ffffff;
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 0; 
}

.chat-header {
    padding: 15px;
    background: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
}

.messages-list {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 5px 0;
}

.message.sent {
    background: #0084ff;
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 5px;
}

.message.received {
    background: #e9ecef;
    color: #1a1a1a;
    align-self: flex-start;
    border-bottom-left-radius: 5px;
}

/* Formulario para Enviar Mensajes */
.message-form {
    padding: 15px;
    background: #f8f9fa;
    border-top: 1px solid #e0e0e0;
}

.message-input-container {
    display: flex;
    gap: 15px;
}

textarea {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    resize: none;
}

button[type="submit"] {
    background: #0084ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-pic {
    width: 40px; /* Cambiado a 40px para reducir el tamaño */
    height: 40px;
}